/* Write your CSS here */
.app-container {
  background-color: #ffc2a0;
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.simple-todo-container {
  background-color: #ffffff;
  border-radius: 12px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading{
  color:  #ff8542;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  font-family: "Roboto";
}
